:root {
  --style1: #1E1E1E;
  --style2: #282828;
  --tamanho: 60%;
}

@media (max-width: 768px) {
  :root {
    --tamanho: 99%;
  }

  #login > div {
    width: 97% !important;
    flex-direction: column;
    align-items:normal !important;
  }
  #login input {
    width: 100% !important;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}

a {
  all: unset;
  cursor: pointer;
}

body {
  background-color: black;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--style1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3.5vw;
  font-weight: 700;
}

header > span {
  cursor: pointer;
}

#img-home{
  color: white;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operation {
  width: var(--tamanho);
  margin: 10px 0px;
  padding: 5px;
  background-color: var(--style2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.operation > span {
  font-size: 5vh;
}

.operationBtn {
  width: 100%;
  display: flex;
  justify-content:space-between
}

.operationBtn > button {
  background-color: var(--style1);
  border: none;
  width: 49%;
  border-radius: 10px;
  cursor: pointer;
}
.operationBtn > button:hover {
  filter: brightness(1.1);
  transition: all 0.1s ease-in-out;
}

.operationBtn > #refresh{
  width: 100%;
}

#add {
  flex-direction: row;
  justify-content: space-evenly;
}

#add:hover {
  filter: brightness(1.1);
  transition: all 0.1s ease-in-out;
}

#add > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#add > button > img {
  height: 60px;
}

#cam {
  width: var(--tamanho);
  background-color: var(--style2);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
}

.viewport {
  display: grid;
}

.viewport * {
  object-fit:cover;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  border-radius: 10px;
}

main input {
  background-color: var(--style2);
  color: white;
  border: none;
  width: var(--tamanho);
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 1.5em; /* alterei o tamanho da fonte para uma unidade relativa */
  padding: 5px 15px;
}

main input::placeholder {
  color: var(--style1);
}

#enviar:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transition: all 0.1s ease-in-out;
}

#login {
  position: fixed;
  top:0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#login > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 900px;
}

#login p {
  width: 30vh;
  font-size: 3vh;
}

#login input {
  background-color: var(--style2);
  color: white;
  border: none;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 3vh;
  padding: 5px 15px;
  width: 70vw;
}

#login > #enviar {
  width: 610px;
}

#codigo {
  position:relative;
  padding:0;
  margin:0;
  display: flex;
  width: var(--tamanho);
  display: flex;
  align-items: center;
}

#codigo input{
  width: 100%;
}

#codigo > img{
  position:absolute;
  right:10px;
  width: 30px;
  filter: invert(1);
  cursor: pointer;
}

#cam > select {
  background-color: var(--style1);
  color: white;
  border: none;
  width: 100%;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 1.5em; /* alterei o tamanho da fonte para uma unidade relativa */
  padding: 5px 15px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events:stroke;
}

.modal > div {
  display: flex;
  flex-direction: column;
}

.modal > div > input {
  width: 100%;
}

.modal > div {
  width: var(--tamanho);
}

